#nav-button{
    position: relative;
    top: 1px;

    
}

#nav-button:hover{
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--bg-1);
    z-index: 10;
    cursor: pointer;
}

#nav-button:active{
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--bg-1);
    z-index: 10;
}
 
.files{
    text-shadow: var(--bg-black) 0px 0px 7px;
}
.files:hover {
    text-shadow: var(bg-black) 0px 0px 10px;
    transform: scale(1.2) translateY(-3px);
}

.proyectos{
    min-width: 22rem;
    height: 32rem;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid var(--border);
     transition: background-color 0.5s, transform 0.5s
}

.proyectos:hover, .proyectos:focus{
    opacity: 1;
    scale: 1.03;
}

.proyectos:focus{
    opacity: 1;
}

.imgproyect{
    width: 18rem;
}


#map{
    width: 50%;
    height: 28rem;
}

/* --form-- */

#form {
    background-color: var(--bg-2);
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 28rem;
    width: 45%;
    color: var(--color-1);
    
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-1);
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group button {
    background-color: var(--color-1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: var(--color-1);
}
