#nav-button{
    position: relative;
    top: 1px;
    /* filter: drop-shadow(0px 7px 21px var(--color-2)); */
    
}

#nav-button:hover{
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--bg-1);
    z-index: 10;
    cursor: pointer;
}

#nav-button:active{
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--bg-1);
    z-index: 10;
}
 
.files{
    text-shadow: var(--bg-black) 0px 0px 7px;
}
.files:hover {
    text-shadow: var(bg-black) 0px 0px 10px;
    transform: scale(1.2) translateY(-3px);
}

.proyectos{
    width: 25rem;
    min-width: 24rem;
    height: 28rem;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid var(--border);
}

.imgproyect{
    width: 15rem;
}


