#nav-button{
    position: relative;
    top: 1px;

    
}

#nav-button:hover{
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--bg-1);
    z-index: 10;
    cursor: pointer;
}

#nav-button:active{
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--bg-1);
    z-index: 10;
}
 
.files{
    text-shadow: var(--bg-black) 0px 0px 7px;
}
.files:hover {
    text-shadow: var(bg-black) 0px 0px 10px;
    transform: scale(1.2) translateY(-3px);
}

.proyectos{
    min-width: 22rem;
    height: 32rem;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid var(--border);
     transition: background-color 0.5s, transform 0.5s
}

.proyectos:hover, .proyectos:focus{
    opacity: 1;
    scale: 1.03;
}

.proyectos:focus{
    opacity: 1;
}

.imgproyect{
    width: 18rem;
}


